{% import 'macros.twig' as macros %}
{% extends "views/base.twig" %}
{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<p>Succulents jean shorts activated charcoal, scenester bushwick leggings gluten-free slow-carb. Hell of you probably haven't heard of them kitsch hot chicken roof party pitchfork taxidermy, jean shorts tofu gentrify man bun readymade wayfarers venmo. Gastropub jianbing vice paleo taxidermy slow-carb. Godard flexitarian pok pok, edison bulb taiyaki listicle 90's. Stumptown bespoke chia wolf, hell of scenester leggings trust fund sartorial synth plaid DIY. Synth af knausgaard, neutra humblebrag subway tile umami hexagon cold-pressed four loko.</p>
			</div>
			<div class="col-12 col-lg-6 a">
				<p>Succulents jean shorts activated charcoal, scenester bushwick leggings gluten-free slow-carb. Hell of you probably haven't heard of them kitsch hot chicken roof party pitchfork taxidermy, jean shorts tofu gentrify man bun readymade wayfarers venmo. Gastropub jianbing vice paleo taxidermy slow-carb. Godard flexitarian pok pok, edison bulb taiyaki listicle 90's. Stumptown bespoke chia wolf, hell of scenester leggings trust fund sartorial synth plaid DIY. Synth af knausgaard, neutra humblebrag subway tile umami hexagon cold-pressed four loko.</p>
			</div>
		</div>
	</div>
{% endblock %}