/*!
 * Copyright (C) 2021-2022 by attentus GmbH
 * All Rights Reserved
 * https://www.attentus.com
 * info@attentus.com
 *
 * This source code is proprietary and confidential. Unauthorized
 * copying of this file via any medium is strictly prohibited.
 *
 * @package attentus WP
 * @author Kolja Nolte <nolte@attentus.com>
 */

.wp-block-table {
	width: 100%;

	@extend .table;
}

@import 'bootstrap/bootstrap';
@import 'partials/responsive-helper';
@import 'partials/wp';
@import 'partials/fonts';
@import 'partials/blocks';
@import '../../pages/404/style';
@import '../../pages/archive/style';
@import '../../pages/attachment/style';
@import '../../pages/author/style';
@import '../../pages/home/style';
@import '../../pages/page/style';
@import '../../pages/search/style';
@import '../../pages/single/style';

$theme-colors: (
	               'primary': $primary,
	               'secondary': $secondary,
	               'success': $success,
	               'info': $info,
	               'warning': $warning,
	               'danger': '',
	               'light': $light,
	               'dark': $dark
               );

body {
	font-size: 16px;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

