<!doctype html>
<html class="no-js" lang="{{ site.language }}">
   <head>
      <meta charset="{{ site.charset }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#ffffff">
      <link rel="manifest" href="/manifest.json">
      {% include 'partials/head.twig' %}
   </head>
   <body class="{{ body_class }}{{ extra_body_class }}">
      {{ fn('wp_body_open') }}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-lg-3 shadow-sm">
         <div class="container">
            <a class="navbar-brand" href="{{ site.link }}">
               {% if fn('has_custom_logo') and custom_logo_url is not empty %}
                  <img src="{{ custom_logo_url }}"
                       alt="{{ site.name|e }}"
                       class="site-logo custom-site-logo"
                       width="auto"
                       height="30px">
               {% else %}
                  <picture>
                     <source srcset="{{ site.theme.link }}/images/logo-attentus-text-wide-white.svg"
                             type="image/svg+xml">
                     <source srcset="{{ site.theme.link }}/images/logo-attentus-text-wide-white.webp" type="image/webp">
                     <img src="{{ site.theme.link }}/images/logo-attentus-text-wide-white.png"
                          alt="attentus WP"
                          width="auto"
                          height="50">
                  </picture>
               {% endif %}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#header-menu"
                    aria-controls="header-menu"
                    aria-expanded="false"
                    aria-label="{{ __("Toggle navigation", textdomain) }}">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header-menu">
               <ul class="menu navbar-nav me-auto mb-2 mb-lg-0">
                  {% for menu_item in menus.header.get_items %}
                     <li class="menu-item nav-item">
                        <a class="menu-item-link nav-link{{ menu_item.current ? ' active' }}"
                           aria-current="page"
                           href="{{ menu_item.link }}">
                           {{ menu_item }}
                        </a>
                     </li>
                  {% endfor %}
               </ul>
               <form class="d-flex"></form>
            </div>
         </div>
      </nav>
      <header>
         {% block header %}
         {% endblock %}
      </header>
      <main class="py-3 py-lg-5">
         {% block main %}
         {% endblock %}
      </main>
      <footer class="py-3 py-lg-4 bg-dark text-white small">
         <div class="container">
            <div class="row">
               <div class="col-8 text-muted mx-auto text-center">
                  &copy; {{ 'now'|date('Y') }} bei
                  <a href="{{ site.link }}" class="text-white">{{ site.name|e }}</a>
               </div>
            </div>
         </div>
         {% block footer %}
         {% endblock %}
      </footer>
      {{ fn('wp_footer') }}
   </body>
</html>
