/*!
 * Copyright (C) 2021-2022 by attentus GmbH
 * All Rights Reserved
 * https://www.attentus.com
 * info@attentus.com
 *
 * This source code is proprietary and confidential. Unauthorized
 * copying of this file via any medium is strictly prohibited.
 *
 * @package attentus WP
 * @author Kolja Nolte <nolte@attentus.com>
 */

/*@font-face {
	font-family:  'GT America';
	src:          url('../../fonts/gt-america/GTAmerica-BoldItalic.woff2') format('woff2'),
	              url('../../fonts/gt-america/GTAmerica-BoldItalic.woff') format('woff');
	font-weight:  bold;
	font-style:   italic;
	font-display: swap;
}

@font-face {
	font-family:  'GT America';
	src:          url('../../fonts/gt-america/GTAmerica-Bold.woff2') format('woff2'),
	              url('../../fonts/gt-america/GTAmerica-Bold.woff') format('woff');
	font-weight:  bold;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'GT America';
	src:          url('../../fonts/gt-america/GTAmerica-Regular.woff2') format('woff2'),
	              url('../../fonts/gt-america/GTAmerica-Regular.woff') format('woff');
	font-weight:  normal;
	font-style:   normal;
	font-display: swap;
}*/

