/*!
 * Copyright (C) 2021-2022 by attentus GmbH
 * All Rights Reserved
 * https://www.attentus.com
 * info@attentus.com
 *
 * This source code is proprietary and confidential. Unauthorized
 * copying of this file via any medium is strictly prohibited.
 *
 * @package attentus WP
 * @author Kolja Nolte <nolte@attentus.com>
 */

.aligncenter {
	text-align: center;
	margin:     0 auto;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor,
.screen-reader-text {
}